# Python for Data Science
## Session 7
### Datasets â€“ Pandas II

---

### **Question 1. Create a new column called professor_initials that stores the initials of each professor's first and last names. Use the following data:**

In [1]:
"""
This code stores the initials of the professors (first letter of first name and last name)
"""

import pandas as pd

data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data)

# Splitting the 'professor' column into first and last names then from there, the first letter is retrieved from both, and combined to get the initials
df['professor_initials'] = df['professor'].str.split(' ', n=1, expand=True)[0].str[0] + df['professor'].str.split(' ', n=1, expand=True)[1].str[0]
df

          professor          department  age professor_initials
0  Ludmila Kuncheva    Computer Science   45                 LK
1  Antonio Torralba     Computer Vision   50                 AT
2   Manuel Gonzalez       AI & Robotics   47                 MG
3     Bastian Leibe  Autonomous Systems   38                 BL

### **Question 2. Given the dataframe below. Use join to combine this new DataFrame with the original one based on the professor column.**

In [2]:
"""
This code combines the dataframe in Queston 1 with the one below by using the 'professor' column as an intersection point
"""

courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}
df_courses = pd.DataFrame(courses_data)

#Professor serves as the intersection point / index in both DataFrames (df and df_courses)
df.set_index('professor', inplace=True)

#Merging based on Professor column, but resetting index so that Professor is not the index
df_courses.set_index('professor', inplace=True)
df_merged = df.join(df_courses)
df_merged.reset_index(inplace=True)

df_merged

,professor,department,age,professor_initials,courses
0,Ludmila Kuncheva,Computer Science,45,LK,Machine Learning
1,Antonio Torralba,Computer Vision,50,AT,Computer Vision
2,Manuel Gonzalez,AI & Robotics,47,MG,AI Programming
3,Bastian Leibe,Autonomous Systems,38,BL,Self-Driving Cars

### **Question 3. Combine the original df and df_courses DataFrames.**

In [3]:
"""
This code combines the two dataframes below
"""


data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data)

courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}

df_courses = pd.DataFrame(courses_data)
df_combined = pd.merge(df, df_courses)
df_combined

          professor          department  age            courses
0  Ludmila Kuncheva    Computer Science   45   Machine Learning
1  Antonio Torralba     Computer Vision   50    Computer Vision
2   Manuel Gonzalez       AI & Robotics   47     AI Programming
3     Bastian Leibe  Autonomous Systems   38  Self-Driving Cars

### **Question 4. In the professor column, create a new column professor_last_name by extracting the last name of each professor using string operations.**

In [4]:
"""
This code gets the last name of the professor using string operations on the professor column
"""

#Getting the last name of the professor by splitting the 'professor' column based on the space and selecting the second part which pertains to the last name
df_combined['professor_last_name'] = df_combined['professor'].str.split(' ', expand=True)[1]
df_combined

,professor,department,age,courses,professor_last_name
0,Ludmila Kuncheva,Computer Science,45,Machine Learning,Kuncheva
1,Antonio Torralba,Computer Vision,50,Computer Vision,Torralba
2,Manuel Gonzalez,AI & Robotics,47,AI Programming,Gonzalez
3,Bastian Leibe,Autonomous Systems,38,Self-Driving Cars,Leibe